/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/

.body {
    padding-top:30px;
}

 .header {
    margin: 0 auto ;
    background-color: #CEF9DC !important;
    width: 100%;
    height: 45px;
}

.taitoru {
    float: left;
    padding-left: 20px;
    padding-top: 5px;
    font-family: 'Manjari', sans-serif;
    font-size: 20px;
}
.menu{
    float: right;
    padding-right: 20px;
    padding-top: 5px !important;
}

.breadcrumb {
    background-color: #CEF9DC !important;
}

.head-form {
    float: left;
    margin-right: 5px;
}

// .footer{
//     margin: 50px 0 0;
//     background-color:  #FFEEFF ;
// }

.sidebar {
    background-color: #FFFFDD;
    padding: 20px;
    padding-top:30px;
    padding-bottom: 150px;
    font-size: 10px;
}