/* 共通部分 */
* {
    font-family: 'Manjari', sans-serif;
}
h2 {
    font-family: 'Manjari', sans-serif;  
    color: #333333 ;
}
h4 {
    font-family: 'Manjari', sans-serif; 
    color: #333333;
}
p {
    color: #333333;
    margin: 0 auto !important;
}
html,body {
    /* background-image: asset-url(baby4.jpg); */
    background-color: #F8F8FF;
    min-height: 100%;
    
}
.body {
    /* background-image: asset-url(baby4.jpg); */
    background-color: #F8F8FF;
    padding-top:30px;
    background-size: contain;
    min-height: 100%;
    padding-bottom: 45px;
    /* background-position: center; *//* 背景画像を中央に配置 */
}
 .header {
    margin: 0 auto ;
    background-color: #F0F8FF !important;
    width: 100%;
    height: 45px;
}
.taitoru {
    float: left;
    padding-left: 20px;
    padding-top: 5px;
    font-family: 'Manjari', sans-serif;
    font-size: 20px;
}
.menu{
    float: right;
    padding-right: 20px;
    padding-top: 5px !important;
}
.breadcrumb {
    background-color: #F0F8FF!important;
}
.head-form {
    float: left;
    margin-right: 5px;
}
footer {
     background-color: #F0F8FF !important ;
     width: 100%;
     height: 45px;
     position: fixed;
     bottom: 0;
}
.login{
    margin: 20px;
}

/* TOPのスライドショー */
#container{
    height: 300px;
}
.image1 {
    background-image: url(/images/image1.jpg);
    background-size: contain;
    background-position: center;
}
.image2 {
    background-image: url(/images/image2.jpg);
    background-size: contain;
    background-position: center;
}
.image3 {
    background-image: url(/images/image3.jpg);
    background-size: contain;
    background-position: center;
}

.image9 {
    background-image: url(/images/image9.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 80px ;
}
.image7 {
    background-image: url(/images/image7.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 80px ;
}
.image11 {
    background-image: url(/images/image11.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 80px ;
}

.image17 {
    background-image: url(/images/image17.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 80px ;
}
.image14 {
    background-image: url(/images/image14.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 80px ;
}
.image13 {
    background-image: url(/images/image13.jpg);
    background-size: contain;
    background-position: center;
    border-radius: 80px ;
}

/* TOPのCSS */
.meinname{
    padding-top: 100px;
    border-bottom: 6px solid;
    border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    border-image-slice: 1;
}
.meintext{
    color: #333333;
}
.top{
    margin: 150px 0;
    position: relative;
    padding: 30px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.top:before, .top:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.top:before {left: 10px;}
.top:after {right: 10px;}
.top p {
    margin: 0; 
    padding: 0;
}
.mainlink {
    background-image: url(/images/image4.jpg);
    padding: 50px 0 ;
    border-radius: 80px ;
    margin: 250px auto;
    background-color: rgba(138, 165, 206, 0.4);
    margin-bottom: 150px;
    background-size: contain;
    background-position: center;     
}
.linktext {
    color: #333333;
}
.link{
    background-image: url(/images/image4.jpg);
    padding: 50px 0 ;
    margin: 50px auto;
    border-radius: 80px ;
    background-color: rgba(235, 235, 235, 0.4);
    margin-bottom: 200px;
    background-size: contain;
    background-position: center; 
}
.point {
    margin: 100px 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.point .point-title {
    font-size: 1.2em;
    background: #CC3333;
    padding: 5px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.point p {
    padding: 15px 20px;
    margin: 0;
}

/* サイドバー */
.sidebar{
    background-image: url(/images/image4.jpg);
    padding: 50px 5px;
    padding-bottom: 100px;
    margin: 30px auto;
    font-size: 10px;
    font-family: 'Manjari', sans-serif
}

/* ユーザーshow */
.usershow {
    margin: 50px;
}

/* regret index */
.regretbox{
    position: relative;
    background: #ADD8E6;
    box-shadow: 0px 0px 0px 5px #ADD8E6;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    margin: 30px 0;
}
.regretbox:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ADD8E6 #fff #ADD8E6;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.regretbox p {
    margin: 0 auto; 
    padding: 0;
    color: #696969;
}
.regretpriod{
    margin: 30px 0 20px 0;
}

/* recommend.new.latest */
.recommendbox{
    margin:2em 0;
    position: relative;
    padding: 90px 100px;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
    background-image: url(/images/image15.jpg);
    background-size: contain;
    background-position: center; 

}
.recommendbox:before,.recommendbox:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.recommendbox:after {
    top:-12px;
    left:-12px;
}
.recommendbox:before {
    bottom:-12px;
    right:-12px;
}
.recommendlink{
   text-align: center;
   padding-top: 20px;
}

/* recommend.index.list.show*/
.recomendlist {
    position: relative;
    margin: 2em 0 0 0;
    padding: 0.5em ;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background-image: url(/images/image5.jpg);
}
.recomendlist .listgenre {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #D7EEFF	;
    color: #8EB8FF;
    font-weight: bold;
}
.listtitle {
    padding: 20px;
    color: #333333 !important;
}
.listbody {
    padding-left: 20px;
    color: #333333 !important;

}.showpop {
    position: relative;
    padding: 0.5em 0.7em;
    margin: 2em 0;
    background: #e6f4ff;
    color: #5c98d4;
    font-weight: bold;
}
.showpop:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e6f4ff;
    width: 0;
    height: 0;
}
.showpop p {
    margin: 0; 
    padding: 0;
}
.icon{
float: right;
}

/* hosp.show */

.user_review {
	width: 100%;
}

.user_info {
  position: relative;
  padding: 0.6em;
  background: #ECF5F9;
  width:70%;
  margin:0 auto;
}

.user_info:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #ECF5F9;
  width: 0;
  height: 0;
  }
.review_post{
  padding: 0.5em 20px;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: #444444;
  background: #EEEEEE;
  border-bottom: solid 6px #EEEEEE;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width:70%;
}
.new_review{
width: 100%;
text-align: center;
}






.tab-group{
    display: flex;
    justify-content: center;
}
.tab{
    flex-grow: 1;
    padding:5px;
    list-style:none;
    border:solid 1px #CCC;
    text-align:center;
    cursor:pointer;
}
.panel-group{
    height:100px;
    border:solid 1px #CCC;
    border-top:none;
}
.panel{
    display:none;
}
.tab.is-active{
    background:	#B0C4DE;
    color:#FFF;
    transition: all 0.2s ease-out;
}
.panel.is-show{
    display:block;
    background-image: url(/images/image26.jpg);
}
.mytitle {
    padding:20px;
}
.mytable {
    padding:20px !important;
}