<div class='body'>
    <div class="container">
        <section class="row">
            <h2 class="title text-center">妊しんTOP</h2>
                <div class="col-xs-2">
                    <%= render 'layouts/presidebar' %>
                </div>
            <div class='col-xs-10'>
            </div>
        </section>
    </div>
</div>