<div class='body'>
    <div class="container">
        <section class="row">
            <h2 class="title text-center">赤ちゃんがいるあなたへ</h2>

            <div class="col-xs-2">
                <div class="sidebar">
                    <%= render 'layouts/presidebar' %>
                </div>
            </div>

            <div class='col-xs-10'>
            
                <div id="container">
                    <div id="Target">
                        <div class="image11"></div>
                        <div class="image7"></div>
                        <div class="image9"></div>
                    </div>
                </div>

                <div class="point">
                    <div class="point-title"><b>約束ごと</div></b>
                        <p class="text-center">決して他人を傷つけるようなことは、書き込まないこと。<br>
                        投稿するときは、会員登録をしていただきます。<br>
                        酷い書き込みをされた場合は、<b>アカウントを強制削除</b>させて頂くと場合もございます。<br>
                        あまりにも酷い書き込みは、<b>法的手段</b>を取る可能性もございます。
                        自分の役にたったことを投稿してください！<br>
                        人の役に立つと優しい気持ちになれます！<br>
                        <b>C'est la vie</b></p>
                </div>



            </div>
        </section>
    </div>
</div>