// Place all the styles related to the user/hosps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link{
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: right;
}

.user_review {
	width: 100%;
}

.botan {
  padding: 30px;
}
.botan1 {
  color: #808080;
}

.user_info {
  position: relative;
  padding: 0.6em;
  background: #ECF5F9;
  width:70%;
  margin:0 auto;
}

.user_info:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #ECF5F9;
  width: 0;
  height: 0;
  }

.review_post{
  padding: 0.5em 1em;
  margin-top: 10px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: #444444;
  background: #EEEEEE;
  border-bottom: solid 6px #EEEEEE;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width:70%;
}
.new_review{
width: 100%;
text-align: center;
}